node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript build output
dist/
build/
